[Desktop Entry]
Version=1.0
Name=Screenshot
Name[fr]=Capture d’écran
Comment=Take screenshots of the entire screen, of the active window or of a region
Comment[fr]=Prenez des captures d’écran d’une zone, de la fenêtre active ou de l’écran tout entier
Icon=applets-screenshooter
Exec=xfce4-screenshooter
Type=Application
StartupNotify=true
Terminal=false
Categories=GTK;Utility;
X-XFCE-Source=file:///usr/share/applications/xfce4-screenshooter.desktop
